<div class="card mb-3" style="max-width: 540px; background: #0c1612f6;margin-top: 8%; margin-left: 30%; position: relative;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/meeseeks.png" class="card-img" alt="..." width="150px" height="250px" style="align-content: center;margin-top: 3rem;margin-left: 1rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" align="center" style="color: snow; font-size: 20px;">Información personal</h5>
          <br>
          <ul  class="card-text" style="color: snow;">

            <li type="disc"><p style="color: green;font-size: 20px;">Nombre: <span style="color: snow; font-size: 15px;">Veronica Bustos</span></p> </li>
            <li type="disc"><p style="color: green;font-size: 20px;">Profesor: <span style="color: snow; font-size: 15px;">Mario Rampi</span></p> </li>
            <li type="disc"><p style="color: green;font-size: 20px;">Github proyecto: <span style="color: snow; font-size: 15px;"><a href="https://github.com/veronicabustoss/TP-PP-LAB4">https://github.com/veronicabustoss/TP-PP-LAB4</a></span></p> </li>
            <li type="disc"><p style="color: green;font-size: 20px;">Github personal: <span style="color: snow; font-size: 15px;"><a href="https://github.com/veronicabustoss">https://github.com/veronicabustoss</a></span></p> </li>
            </ul>
        </div>
      </div>
    </div>
  </div>