/* You can add global styles to this file, and also import other style files */
@import "~../node_modules/bootstrap/dist/css/bootstrap.min.css";


.general{
    background-image: url("https://images6.alphacoders.com/876/thumb-1920-876591.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}